:root {
  --mainColor: antiquewhite;
  --secondaryColor: palevioletred;
  --tertiaryColor: cornflowerblue;
  --accentColor: midnightblue;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mainColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: cornsilk;
} */

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: var(--tertiaryColor);
  border-bottom: 2px solid var(--tertiaryColor);
  transition: 0.1s;
}

nav a.active {
  background-color: var(--accentColor);
  /* padding-left: 3px;
  padding-right: 3px; */
  border: 3px solid var(--tertiaryColor);
  /* color: var(--secondaryColor); */
}

/* .foodItemContainer {
  display:grid;
  grid-template-columns: 1fr;
} */

.foodItem {
   /* display:inline-table; */
   /* position: absolute; */
   float:left; 
   display:inline; 
   width: 49%;
   background-color: var(--secondaryColor);
   width: 8rem;
   /* border: 10px; */
   border-radius: 7px;
   font-size: medium;
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 10px;
   padding-top: 1px;
   margin: 10px;
   transition: all 300ms;
}

.foodItem img {
  max-width: 7rem;
  height: 7rem;
  object-fit: cover;
  }
  
  .foodItem p {
    background-color: var(--mainColor);
    padding: 5px;
    border-radius: 7px;
    text-align: left;
  }

.foodItemExpanded {
    /* display:inline-table; */
    /* position: absolute; */
    float:left; 
    display: inline; 
    width: 49%;
    background-color: var(--secondaryColor);
    width: 16rem;
    /* border: 10px; */
    border-radius: 7px;
    font-size: medium;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 1px;
    margin: 10px;
    transition: all 300ms;
}

.foodItemExpanded img {
  max-width: 10rem;
  height: 7rem;
  object-fit: cover;
  }

  .foodItemExpanded .expandedFoodStory {
    background-color: var(--mainColor);
    padding: 5px;
    border-radius: 7px;
    text-align: left;
    margin: 5px;
  }

  .foodItemExpanded button {
    background-color: var(--tertiaryColor);
  border: none;
  border-radius: 10px;
  color: var(--accentColor);
  padding: 8px;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;

  }



.newFoodForm {
  /* border-bottom: 2px solid var(--background-light);
  border-top: 2px solid var(--background-light);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; */
  background-color: var(--secondaryColor);
  border-radius: 7px;
  position:relative;
  float: left;
  /* display:block; */
  left:auto;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  max-width: 300px;
}

.newFoodForm input, textarea {
  /* position: relative; */
  /* float: left 50%; */
  /* display:inline; */
  /* align-items: center; */
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

textarea {
  min-height: 8em;
}

.imgPreview {
  font-size: small;
  margin: 0px;
  padding: 1px;
}

.imgPreview img {
  max-width: 50px;
  max-height: 50px;
  display: block;
}

button {
  background-color: var(--accentColor);
  border: none;
  border-radius: 10px;
  color: var(--tertiaryColor);
  padding: 8px;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=submit] {
  background-color: var(--accentColor);
  border: none;
  border-radius: 10px;
  color: var(--tertiaryColor);
  padding: 8px;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
}