:root {
  --mainColor: cornsilk;
  --secondaryColor: rgb(220, 91, 91);
  --tertiaryColor: cornflowerblue;
  --accentColor: midnightblue;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--mainColor);
  
}

.App {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background: url(../public/gingham_pattern_small.png) repeat;
  background-size: 20px;
}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: var(--tertiaryColor);
  border-bottom: 5px solid var(--tertiaryColor);
  border-left: 5px solid var(--tertiaryColor);
  background-color: var(--accentColor);
  padding: 10px;
  /* padding-right: 6px; */
  border-radius: 10px;
  
}

nav a.active {
  background-color: var(--tertiaryColor);
  color: var(--accentColor);
  border-bottom: 5px solid var(--accentColor);
  border-left: 5px solid var(--accentColor);
  border-radius: 10px;
}

h1, h2, h3 {
  text-align: left;
  padding-left: 10px;
}

.foodItem {
   float:left; 
   display:inline; 
   width: 49%;
   background-color: var(--secondaryColor);
   width: 8rem;
   border-radius: 7px;
   font-size: medium;
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 10px;
   padding-top: 1px;
   margin: 10px;
   transition: all 300ms;
}

  .cardEmojis {
    font-size: 7rem;
    filter: drop-shadow(-10px 10px 8px rgb(73, 7, 21));
  }


  .selectEmojis {
    font-size: 1rem;
    background-color: var(--accentColor);
    color: var(--tertiaryColor);
    border-radius: 7px;
    cursor: pointer;
  }
  
  .foodItem p {
    background-color: var(--mainColor);
    padding: 5px;
    border-radius: 7px;
    text-align: left;
  }

.foodItemExpanded {
    float:left; 
    display: inline; 
    width: 49%;
    background-color: var(--secondaryColor);
    width: 16rem;
    border-radius: 7px;
    font-size: medium;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 1px;
    margin: 10px;
    transition: all 300ms;
}

.foodItemExpanded img {
  max-width: 10rem;
  height: 7rem;
  object-fit: cover;
  }

  .foodItemExpanded .expandedFoodStory {
    background-color: var(--mainColor);
    padding: 5px;
    border-radius: 7px;
    text-align: left;
    margin: 5px;
  }

  .standardFoodTitle {
    font-size: medium;
  }

  .longFoodTitle {
    height: 19px;
    
  }

  .clicked, input[type=submit].clicked {
  background-color: var(--tertiaryColor);
  border: none;
  border-radius: 10px;
  color: var(--accentColor);
  padding: 8px;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
  }



.newFoodForm {
  background-color: var(--secondaryColor);
  border-radius: 10px;
  left:auto;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 5px;
  text-align: left;
  max-width: 300px;
}

.newFoodForm input, textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

textarea {
  min-height: 8em;
}

.imgPreview {
  font-size: small;
  margin: 0px;
  padding: 1px;
}

.imgPreview img {
  max-width: 50px;
  max-height: 50px;
  display: block;
}

button, input[type=submit] {
  background-color: var(--accentColor);
  border: none;
  border-radius: 10px;
  color: var(--tertiaryColor);
  padding: 8px;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 300ms;
  cursor: pointer;
}

.about p {
  background-color: var(--secondaryColor);
  border-radius: 10px;

  left:auto;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 5px;
  text-align: left;
  max-width: 300px;
}

.foodList h4, li {
  text-align: left;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 2px;

}

.foodList ul {
  background-color: var(--secondaryColor);
  border-radius: 10px;
  left:auto;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 5px;
  text-align: left;
  max-width: 300px;
}

.votes {
  position: relative;
  float: left;
  text-align: left
}

.yumsAndEws {
  display: inline;
  text-align:start;
  padding: 0;
  margin: 1px;
  border-radius: 3px;
}

.clickedYumsAndEws {
  display: inline;
  background-color: var(--tertiaryColor);
  color: var(--accentColor);
  text-align:start;
  padding: 0;
  margin: 1px;
  border-radius: 3px;
}
